* {
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
    margin            : 0;
    padding           : 0;
    font-family       : 'Dosis', sans-serif;
}



.toCartBtn:active,
.toCartBtn {
    border          : unset;
    border-radius   : 50%;
    height          : 50px;
    width           : 50px;
    display         : block;
    text-decoration : none;
    color           : dimgray;
    font-size       : 24px;
    background-color: transparent;
    text-align      : center;
    cursor          : pointer;
    position        : absolute;
    outline         : none;
    transition      : 0.3s;
    box-shadow      : 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
}

.toCartBtn:hover {
    color           : hotpink;
    background-color: whitesmoke;
}


.cartList {
    display         : flex;
    flex-direction  : column;
    border-radius   : 5px;
    box-sizing      : border-box;
    right           : 153px;
    top             : 120px;
    position        : absolute;
    background-color: white;
    padding         : 20px;
    width           : 400px;
    color           : hotpink;
    font-size       : 18px;
    line-height     : 19.2px;
    box-shadow      : 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
}

.cartList::after {
    content      : "";
    width        : 0;
    height       : 0;
    border-left  : 15px solid transparent;
    border-right : 15px solid transparent;
    border-bottom: 15px solid white;
    position     : absolute;
    left         : 82.7%;
    top          : -5.4%;
}


.cartContent {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
}

.cartItem {
    box-sizing : border-box;
    display    : flex;
    align-items: center;
}

.cartH3 {
    font-size  : 24px;
    color      : dimgray;
    font-weight: 200;
}

.cartP {
    font-size  : 18px;
    color      : hotpink;
    font-weight: 500;
}

.cartImg {
    padding-top   : 15px;
    padding-bottom: 15px;
    height        : 100px;
    width         : 80px;

}

.product-price {
    width       : 70px;
    padding-left: 20px;
}

.cartListBtn {
    height          : 50px;
    width           : 50px;
    border          : unset;
    border-radius   : 50%;
    color           : dimgray;
    font-size       : 18px;
    background-color: transparent;
    text-align      : center;
    box-shadow      : 0 0 5px rgba(0, 0, 0, 0.62);
    align-self      : center;
    cursor          : pointer;
}

.cartListBtn:hover {
    color           : hotpink;
    background-color: whitesmoke;
}

.titleCart {
    width: 40%;
}

.indexH1 {
    text-transform: capitalize;
    margin        : 0;
    text-align    : left;
    font-size     : 36px;
    font-weight   : 400;
    color         : dimgray;
}

.headerWrap {
    margin    : 0 auto;
    width     : 1140px;
    box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
}

.wrap {
    margin-bottom: 50px;
}

.mainMenu {
    display         : flex;
    justify-content : space-between;
    padding         : 30px 80px;
    background-color: white;
    box-shadow      : 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
}

.mainMenuDiv {
    display        : flex;
    justify-content: space-between;
}

.cartBtn {
    height          : 50px;
    width           : 50px;
    font-size       : 24px;
    text-align      : center;
    border          : unset;
    border-radius   : 50%;
    background-color: white;
    box-shadow      : 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
    cursor          : pointer;
    margin-top      : 10px;
    margin-right    : 50px;
    outline         : none;
    transition      : 0.3s;
    color           : dimgray;
}

.cartBtn:hover {
    color           : hotpink;
    background-color: whitesmoke;
}

.products {
    width          : 1140px;
    margin         : 0 auto;
    display        : flex;
    flex-wrap      : wrap;
    flex-direction : row;
    justify-content: space-around;
}

.goodsItem {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : 300px;
    height        : 450px;
    padding       : 2%;
    margin        : 30px 15px;
    box-shadow    : 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
}


.itemBtn {
    color           : hotpink;
    font-size       : 18px;
    line-height     : 19.2px;
    text-decoration : none;
    text-align      : center;
    background-color: transparent;
    width           : 150px;
    outline         : 1px solid hotpink;
    border          : unset;
    cursor          : pointer;
    height          : 40px;
    margin-top      : 10px;
    transition      : 0.2s;
}

.itemBtn:hover {
    background-color: hotpink;
    color           : white;
}


.catalogH3 {
    font-size  : 24px;
    text-align : center;
    color      : dimgray;
    font-weight: 200;
    height     : 80px;
}

.catalogImg {
    padding-top   : 15px;
    padding-bottom: 15px;
    height        : 250px;
    width         : 170px;
}

.catalogP {
    font-size  : 18px;
    text-align : center;
    color      : hotpink;
    font-weight: 200;
}

.headerBtns {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    padding-bottom : 5px;

}

.toIndexBtn,
.toIndexBtn:active {
    text-decoration : none;
    color           : dimgray;
    height          : 50px;
    width           : 50px;
    font-size       : 24px;
    border          : unset;
    border-radius   : 50%;
    background-color: white;
    box-shadow      : 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
    cursor          : pointer;
    margin-top      : 10px;
    margin-left     : 50px;
    outline         : none;
    transition      : 0.3s;
    padding-top     : 10px;
    text-align      : center;
}

.toIndexBtn:hover {
    color           : hotpink;
    background-color: whitesmoke;
}

#text {
    margin     : 40px 40px 40px 40px;
    font-size  : 20px;
    line-height: 40px;
    font-weight: 300;
    padding    : 10px;
}

#replace {
    text-decoration : none;
    color           : dimgray;
    height          : 50px;
    width           : 150px;
    font-size       : 24px;
    border          : unset;
    border-radius   : 20px;
    background-color: white;
    box-shadow      : 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
    cursor          : pointer;
    margin-top      : 10px;
    margin-left     : 50px;
    outline         : none;
    transition      : 0.3s;
    margin-bottom   : 40px;
    text-align      : center;
}

#replace:hover {
    background-color: dimgray;
    color           : white;
}

.searchForm {
    position    : relative;
    margin-right: 50px;
    display     : inline-block;
}

.SearchBtn {
    align-self      : center;
    background-color: transparent;
    border          : none;
    color           : dimgray;
    font-size       : 18px;
    position        : absolute;
    bottom          : 10px;
    right           : 0;
    cursor          : pointer;
}

.searchField {
    margin-top      : 25px;
    box-sizing      : border-box;
    width           : 200px;
    color           : dimgray;
    background-color: transparent;
    border          : none;
    border-bottom   : 2px solid dimgray;
}

.searchField:active,
.searchField:focus {
    outline: none;
}